.header{
    color:purple;
   margin-top:20px;
    font-family: 'Caveat', cursive;
    text-align:center;
    padding:20px;
    background-color: rgb(197, 169, 169);
    border-radius: 50px;
}

.btn:hover {
    background-color: purple;
    }


    .input{
        display:inline-block;
        margin-right:15px;
    }

.link{
    text-align:center;
    padding-bottom: 10px;
    font-size:20px;
    background-color: rgb(197, 169, 169);
    border-radius: 50px;
    margin-bottom: 10px;
}